*{
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
  width: auto;
}
.centralizar{
  height: 500px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.header {

    width:auto;
    height:100px;  
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient( to bottom, rgb(39, 36, 36), black  )
  }
#logo {
  width: 150px;
  height: 150px;
  margin-top: -24px;
  margin-left: 150px;
}
#titulo {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: rgb(132, 255, 0);
  margin-top: -95px;
  margin-left: 280px;
}

/*INTRODUÇÃO - FOTO PERFIL*/
#introduction {
  width: auto;
  height: 500px;
  background-color: yellow;
  background-image: linear-gradient( to bottom, yellow, rgb(210, 210, 21)  )
}
#fotoPerfil {
  width: 400px;
  height: 550px;
  margin-top: -50px;
  margin-right: -410px;
  float: right;
}
#fotoPerfil2 {
  width: 400px;
  height: 550px;
  margin-top: -50px;
  float: right;
}

/*TÍTULO - ANIMAÇÃO*/
.boxInicial {
  width: 1050px;
  height: 100px;
  padding: 150px;
  text-align: center;
  box-sizing: border-box;
}
#Hello {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 300%;
  animation-duration: 3s;
  animation-name: esmaecerDireita;
}
@keyframes esmaecerDireita {
  from {
    opacity: 0%;
    margin-left: -100px;
  }

  to {
    opacity: 100%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1050px) {
  .boxInicial {
    width: 50%;
  }
}
@media screen and (max-width: 1050px) {
  .boxInicial {
    width: 100%;
  }
}

/*MEIO*/
.mid {
  width: auto;
  height: 2400px;
  background-color: rgb(32, 46, 46);
  background-image: linear-gradient( to bottom, rgb(44, 53, 54), rgb(31, 31, 30)  )
}
#lineMid{
  background-color: yellow;
  padding-top: 3px;
  width: auto;
}
#lineMidSimple{
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  width: 1500px;
  height: 3px;
  margin-left: 10%;
}
#iconeDev{
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: 20%;
  animation-duration: 3s;
  animation-name: esmaecerDireitaImg;
}
#iconeVideo{
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: 460px;
  animation-duration: 3s;
  animation-name: esmaecerDireitaImg;
}
#iconeManutencao{
  width: 80px;
  height: 80px;
  margin-top: 80px;
  margin-left: 430px;
  animation-duration: 3s;
  animation-name: esmaecerDireitaImg;
}

@keyframes esmaecerDireitaImg {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
#textMid1 {
  width: 300px;
  height: 500px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 150%;
  margin-top: 2%;
  margin-left: 14%;
  text-align: justify;
  color: white;
}
#textMid2 {
  width: 300px;
  height: 500px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 150%;
  margin-left: 42%;
  margin-top: -26%;
  text-align: justify;
  color: rgb(255, 255, 255);
}
#textMid3 {
  width: 300px;
  height: 500px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 150%;
  margin-left: 70%;
  margin-top: -26%;
  text-align: justify;
  color: rgb(240, 238, 238);
}
#titleMid{
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-top: -2%;
  margin-bottom: 3%;
  font-size: 200%;
  margin-left: 40%;
}
#CircleMid{
  width: 300px;
  height: 300px;
  background-color: rgb(49, 51, 49);
  border-radius: 50%;
  margin-top: 2%;
  margin-left: 42%;
  margin-bottom: 3%;
}
#imgSpike {
  width: 400px;
  height: 250px;
  margin-left: -13%;
  margin-top: 5%;
}
#imgLogo {
  width: 200px;
  height: 100px;
}
.rectangleImgs{
  width: auto;
  height: 500px;
  background-color: yellow;
  background-image: linear-gradient( to bottom, yellow, rgb(210, 210, 21)  )
}
#foto1{
  width: auto;
  height: 400px;
  margin-top: 50px;
  align-content: center;
  margin-left: 10%;
}
#foto2{
  width: auto;
  height: 400px;
  margin-top: 50px;
  align-content: center;
  margin-left: 10%;
}
#titleMidFinal{
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 200%;
  margin-left: 47%;
}

#imgGameplay{
  width: auto;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  margin-left: 10%;
}
#textMid4{
  width: 600px;
  height: 500px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 150%;
  margin-left: 50%;
  margin-top: -20%;
  text-align: justify;
  color: rgb(240, 238, 238);
}

